/***** GENERAL *****/

.content {
    border: 5px solid #55b96b;
    color: #000;
    float: left;
    padding: 20px 49px;
    text-align: justify;
    width: 100%;
}

.logo {
    float: left;
    margin-right: 25px;
}
.navbar-inverse {
    margin-top: 30px;
}


.col-sm-2-header {
    float: right;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 49px;
    max-height: 50px;
    min-height: 50px;
    min-width: 90px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
    width: 16.6667%;
}

.login {
    background-color: #55B96B;
}

.signup {
    background-color: #5fc5d8;
}




/***** PROFILE *****/
#general-info img {
    float: left;
    margin-right: 40px;
    position: relative;
}

.weight-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

.input-data {
    float: left;
    margin-top: 40px;
    position: relative;
    width: 100%;
}
/****** SIGNUP******/
.old-user{
float:right;
}

.old-user button{
margin-left:10px;
}
/******  EDIT ******/
.form-group.col-xs-1 {
    margin-right: 10px;
}