/***** GENERAL *****/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


.content {
    border: 5px solid #55b96b;
    color: #000;
    float: left;
    font-family: "Open Sans",Arial,sans-serif;
    color: #54565b;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.785;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom:30px;
    padding: 20px 50px 50px;
    text-align: justify;
    width: 97.4%;
}

.h3,h3{
   font-family: "Open Sans",Arial,sans-serif;
   color: #004a88;
   font-size:40px;
}

.h1, h1 {
    font-family: "open sans";
    font-size: 36px;
    font-weight: 300;
}

a {
    color: white;
    font-family: "open sans";
}

label {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 5px;
    max-width: 100%;
}

.logo {
    float: left;
    margin-right: 25px;
}
.navbar-inverse {
    margin-top: 30px;
}

.navbar-nav li:first-child {
    border-left: medium none;
}

.navbar-nav li:last-child {
    border-right: medium none;
}

.col-sm-2-header {
    float: right;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 49px;
    max-height: 50px;
    min-height: 50px;
    min-width: 90px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
    width: 16.6667%;
}

.login {
    background-color: #55B96B;
}

.MyProfile {
    background-color: #2C92A5;
        margin-left: 5px;


}

.signup {
    background-color: #5fc5d8;
    margin-right: 5px;
}

/* SCALE */
.scaleB {
  transition-property: scale;
  transition-duration: 0.3s;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
}
.scaleB:hover {
  transform: scale(1.5) rotate(4deg);
  transition: transform 0.2s ease-in;
}

@keyframes spin {
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(-180deg);
  }
}
/* 3d */
.spinR {
  perspective: 800px;
  -webkit-perspective: 800px;
  -webkit-transform-orgin: right center;
  -webkit-tap-highlight-color: transparent;
}
.spinR:hover {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
}



/***** PROFILE *****/
#general-info img {
    float: left;
    margin-right: 40px;
    position: relative;
}

.weight-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

.input-data {
    float: left;
    margin-top: 40px;
    position: relative;
    width: 100%;
}

.input-data li {
    width: 25%;
}

.input-data li a {
    color: black;
}

.input-data li.active a {
    color: #55b96b;
}

.editPLink {
    color: red;
}

.editP-form button{
    background-color: #55b96b;
    border: 2px solid #4a995b;
    border-radius: 0;
    width: 37.3%;
}
/****** SIGNUP******/
.old-user {
    color: red;
    float: right;
}

.old-user button {
    border: 1px solid black;
    color: black;
    margin-left: 10px;
    margin-top: -3px;
}

.editP-form .col-xs-1 {
    width: 10%;
}

.form-group.col-xs-2 {
    margin-right: 5px;
}

.signup-form button {
    background-color: #55b96b;
    border: 2px solid #4a995b;
    border-radius: 0;
    width: 37.3%;
}
/******  EDIT ******/
.form-group.col-xs-1 {
    margin-right: 10px;
}